.err{
	background-color:red;
	text-align: center;
}
.addUser{
	margin-top: 150px;
	margin-right: 40px;
	margin-left: 40px;
}
.delete{
	background-color: lightpink;
	text-align: center;
}
.noRecord{
	background-color: lightpink;
	text-align: center;
}